<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <!-- bootstrap css  -->
    <th:block th:replace="~{fragments/resources :: head}"></th:block>
</head>

<body class="bg-secondary-subtle">
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

    <main class="container mt-4">
        <form id="concept-form" th:action="${edit} ? @{/concepts/edit/{id}(id=${concept.id})} : @{/concepts/create}"
            method="post" th:object="${concept}">

            <!-- name -->
            <div class="mb-3">
                <label class="form-label" for="name">Nome:</label>
                <input class="form-control" type="text" id="name" th:field="*{name}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('name')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <!-- description -->
            <div class="mb-3">
                <label class="form-label" for="description">Descrizione:</label>
                <textarea class="form-control" type="text" id="description" th:field="*{description}"
                    th:errorClass="is-invalid"></textarea>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('description')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <!-- imgUrl -->
            <div class="mb-3">
                <label class="form-label" for="imgUrl">Percorso immagine:</label>
                <input class="form-control" type="text" id="imgUrl" th:field="*{imgUrl}" th:errorClass="is-invalid">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('imgUrl')}">
                    <ul>
                        <li th:each="error : ${#fields.errors('imgUrl')}" th:text="${error}" />
                    </ul>
                </div>
            </div>

            <!-- level -->
            <div class="mb-3">
                <label class="form-label">Difficoltà:</label>
                <div class="form-check" th:each="levelOption : ${levels}">
                    <input class="form-check-input" type="radio" th:field="*{level}" th:value="${levelOption}"
                        th:id="${'level-' + levelOption}">
                    <label class="form-check-label" th:for="${'level-' + levelOption}" th:text="${levelOption}"></label>
                </div>
            </div>

            <!-- tags -->
            <div class="mb-3">
                <label class="form-label">Tags:</label>
                <div class="row">
                    <div class="form-check col-3" th:each="tag : ${tags}">
                        <input class="form-check-input" type="checkbox" th:field="*{tags}" th:value="${tag.id}"
                            th:id="${'tag-' + tag.id}">
                        <label class="form-check-label" th:for="${'tag-' + tag.id}" th:text="${tag.name}"></label>
                    </div>
                </div>
            </div>

            <!-- category -->
            <div class="mb-3">
                <label class="form-label">Categoria:</label>
                <div class="form-check" th:each="categoryOption : ${categories}">
                    <input class="form-check-input" type="radio" th:field="*{category}" th:value="${categoryOption.id}"
                        th:id="${'category-' + categoryOption.id}">
                    <label class="form-check-label" th:for="${'category-' + categoryOption.id}"
                        th:text="${categoryOption.name}"></label>
                </div>
            </div>

            <!-- Submit button -->
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Salva</button>
                <a th:href="@{/concepts}" class="btn btn-secondary">Annulla</a>
            </div>
        </form>
    </main>

    <th:block th:replace="~{fragments/resources :: script}"></th:block>
</body>

</html>