<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>
    <th:block th:fragment="navbar">

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid ">
                <span class="navbar-brand"> Generical Fintech</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{/concepts}">Prodotti</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categories}">Categorie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/tags}">Tag</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/faq}">Faq</a>
                        </li>


                    </ul>
                </div>
                <a href="/logout">
                    <button class="btn btn-large btn-warning">LogOut</button>
                </a>
            </div>
        </nav>





    </th:block>

</body>

</html>