<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>

    <!-- & bootstrap css  -->
    <div th:replace="~{fragments/resources :: head}"></div>


</head>



<body class="bg-secondary-subtle">
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
    <main class="container-fluid " th:object="${faq}">
        <div class=" justify-content-center border-bottom border-light border-3 mt-5 row ">

            <h1 class="text-center col-5 border border-top-0 border-light border-3 pb-3 ">[[*{question}]]</h1>
            <div class="row p-4 gap-4">


            </div>
            <div class="row px-5 align-items-center justify-content-center">

                <div class="col-2  row align-items-center px-3   border-light border-3 mb-4"
                    sec:authorize="hasAuthority('ADMIN')">
                    <h3 class="text-center"> Modifica:</h3>
                    <button class="btn btn-warning btn-sm"><a th:href="@{/faq/edit/{id}(id=*{id})}"> <i
                                class="fa-solid fa-pen-to-square"></i></a></button>
                </div>

            </div>
            </h1>
        </div>
    </main>






    <!-- & bootstrap script -->

    <div th:replace="~{fragments/resources :: scripts}"></div>
</body>

</html>